body {
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #090909;
    font-family: 'Outfit', sans-serif;
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit Thin';
    src: url('./assets/fonts/Outfit-Thin.ttf') format('truetype');
}

.paragraph {
    width: 450px;
    font-family:'Outfit Thin', sans-serif; ;
}


.notifyMe-input{
    border-radius: 8px;
    border: 1px solid rgba(225, 225, 225, 0.20);
    background: rgba(255, 255, 255, 0.18);
    width: 400px !important;
}

.notifyMe-input:focus {
    outline: none;
    box-shadow: none;
}

.notifyMe-btn{
    border-radius: 8px;
    border: 2px solid #387ED6;
    background: rgba(56, 126, 214, 0.20);
    color: #FFF;
    font-family: 'Outfit';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mgt-4{
    margin-top: 4rem;
}

.left-container {
    margin-top: 50%;
}

.right-container{
   display: flex;
   flex-direction: column;
}

.paragraph-logo{
    text-align: left;
    align-self: center;
}

.social-links-txt{
    font-family: 'Outfit Thin';
}
.social-links a {
    color: white;
    font-size: .9rem;
    text-decoration: none;
    transition: color 0.5s;
}

.social-links a:hover {
    color: #0077b5;
}

/*Small screen styles*/
@media screen and (max-width: 768px) {
    body {
        background-image: url('./assets/cover-small.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 300px
    }

    .notifyMe-input {
        width: 280px !important;
    }

    .notifyMe-btn{
        margin-top: 10px;
    }

    .paragraph {
        width: auto;
    }

    .right-container{
        padding-bottom: 3rem;
    }
}

/*Big and Medium screen styles*/
@media screen and (min-width: 768px) {
    body {
        background-image: url('./assets/cover.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .logo-align{
        padding-left: 75px;
    }
}
